<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/09/19 16:28:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.CloseChrome()[pri:0, instance:test.Test03EditarCuenta@59f99ea]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 16:27:44</td>   <td>-35517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test03EditarCuenta.EditarCuenta()[pri:2, instance:test.Test03EditarCuenta@59f99ea]">EditarCuenta</td> 
  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 16:27:35</td>   <td>-44277</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test03EditarCuenta.IngresoAmbiente()[pri:0, instance:test.Test03EditarCuenta@59f99ea]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/19 16:28:18</td>   <td>-1240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test03EditarCuenta@59f99ea]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
</table>
